{% extends "network/layout.html" %}
{% load static %}

{% block body %}
  <div class="main-container">
    <h3 id="title">Title</h3>
    <div class="section-container" id="new-post-view">
      <h5>New Post</h5>
      <form id="new-post-form">
        <!-- {% csrf_token %} -->
        <textarea class="form-control" id="new-post-body" rows="2" cols="80"></textarea>
        <input type="submit" value="Post" class="btn btn-primary">
      </form>
    </div>

    <div class="section-container" id="profile-view">
      <div id="follower-count">followers</div>
      <div id="following-count">following</div>
      <button id="follow-button" type="button" name="follow-button" class="btn btn-secondary">Follow</button>
    </div>

    <div id="posts-view">
      <div id="paginate-posts"></div>
      <div id="paginate-nav">
        <nav aria-label="posts page selector">
          <ul id="pagination-ul" class="pagination justify-content-center">
            <li class="page-item">
              <a id="btn-previous" class="page-link" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
              </a>
            </li>
            <li class="page-item disabled">
              <a id="btn-current" class="page-link" aria-label="current-page"></a>
            </li>
            <li class="page-item">
              <a id="btn-next" class="page-link" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
              </a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
{% endblock %}
