{% extends "network/layout.html" %}
{% load static %}

{% block body %}
  <div class="main-container">
    <h3 id="title">Title</h3>

    <div class="section-container" id="profile-view">
      <p>followers</p>
      <p>following</p>
      <p>posts</p>
    </div>

    <div id="posts-view">
      <div id="paginate-posts"></div>
      <div id="paginate-nav">
        <nav aria-label="posts page selector">
          <ul id="pagination-ul" class="pagination justify-content-center">
            <li class="page-item">
              <a id="btn-previous" class="page-link" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
              </a>
            </li>
            <li class="page-item disabled">
              <a id="btn-current" class="page-link" aria-label="current-page"></a>
            </li>
            <li class="page-item">
              <a id="btn-next" class="page-link" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
              </a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
{% endblock %}

{% block script %}
  <script src="{% static 'network/profile.js' %}"></script>
{% endblock %}
