.main-container {
  margin: auto;
  max-width: 40rem;
}

.section-container {
  margin: 0.3em 1em;
  border: 1px solid #cfcfcf;
  border-radius: .2em;
  padding: 1em;
}

.profile-link-div {
  background-color: AliceBlue;
  padding-left: 0.2rem;
  margin-bottom: 0.5rem;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
