.main-container {
  margin: auto;
  max-width: 40rem;
}

.section-container {
  margin: 0.3em 1em;
  border: 1px solid #cfcfcf;
  border-radius: .2em;
  padding: 1em;
}

.profile-link-div {
  margin-bottom: 0.5rem;
  padding: 1rem;
  border: 1px solid #cfcfcf;
  border-radius: .2em;
}

.profile-link-div:hover {
  background-color: AliceBlue;
}

.post-owner-link {
  display: inline;
  background-color: #99ccff;
  padding: 0.2em;
  border: 1px solid #cfcfcf;
  border-radius: .2em;
}

.icon {
  height: 1.1rem;
  margin-right: 0.5rem;
}

.likes-div {
  display: flex;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
